{{ template "chart.header" . }}
{{ template "chart.deprecationWarning" . }}

{{ template "chart.versionBadge" . }}

{{ template "chart.description" . }}

{{ template "chart.homepageLine" . }}

{{ template "chart.maintainersSection" . }}

{{ template "chart.sourcesSection" . }}

## TL;DR;

This chart will install Paymenthub

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSection" . }}
